/* NOTE: MathJax doesn't support line wrapping yet as of v3 and 2025-02-14.
 This isn't necessarily the best formatting option IMO as it forces the user
 to scroll to see the full content but it is better than before without
 horizontal scrolling.
 */
mjx-container {
  padding-top: 10px; // increase padding to improve readability
  padding-bottom: 10px; // increase padding to improve readability
  overflow-x: auto;
  overflow-y: hidden;
}
