.note-container {
  overflow: hidden;
  margin: 1em auto;
  padding: 0;
  font-size: 1.1em;
  min-width: 100%;
  font-family:
    'JetBrains Mono', Menlo, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace, serif;
}

.note-details {
  width: 100%;
  border-left: 0.4em solid var(--accent);
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  padding: 0;
}

.light .note-header {
  background-color: color-mix(in srgb, var(--note-bg-light) 75%, black 25%);
}

.note-header {
  background-color: color-mix(in srgb, var(--note-bg-dark) 90%, white 20%);
  cursor: pointer;
  position: relative;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
  padding: 0;
  margin: 0;
  color: inherit;
  list-style: none;
  display: flex;
  align-items: center;

  p {
    margin: 10px;
    font-weight: bold;
  }

  &::-webkit-details-marker {
    display: none;
  }

  &::after {
    content: '▼';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #c62c2a;
    transition: transform 0.3s ease;
  }

  details[open]>&::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.note-center {
  text-align: center;
  padding: 0;
  width: 100%;
}

.note-content {
  padding: 10px 25px !important;
  background-color: inherit;
  font-size: 1em;
  background-color: color-mix(in srgb, var(--note-bg-dark) 90%, white 10%);
  color: inherit;
  line-height: 1.6em;

  a {
    color: #ff2e88;
    font-weight: normal;

    &:hover {
      color: #fff;
    }
  }

  .dark strong {
    color: #fff;
  }
}

.light .note-content {
  background-color: color-mix(in srgb, var(--note-bg-light) 90%, black 5%);
}
