.toc-container {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;

  a[href*="://"]::after,
  a[rel*="external"] {
    content: " → ";
    color: #ff9800;
    font-size: 1rem;
  }
}

.light .toc-container {
  background-color: #efefef;
}

.dark .toc-container {
  background-color: #1a1a1a;
}

.toc-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.dark .toc-title {
  color: #ccc;
}

.toc-list {
  margin-left: 1.5rem;
  padding: 0;
  color: #ccc;
  font-weight: bold;
}

.light .toc-list {
  color: #444;
}

.toc-list ul {
  margin-left: 1.5rem;
  color: #ccc;
  font-weight: bold;
}

.light .toc-list ul {
  color: #444;
}

.toc-list ul ul {
  margin-left: 1.5rem;
  color: #ccc;
  font-weight: bold;
}

.light .toc-list ul ul {
  color: #444;
}

.toc-list li {
  margin: 0.5rem 0;
}
