name: Build

on:
  pull_request:
    branches:
      - main
env:
  APP_NAME: BULL

jobs:
  ios:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4

    - uses: dtolnay/rust-toolchain@stable

    - run: rustup target add aarch64-apple-ios

    - uses: subosito/flutter-action@v2
      with:
        channel: stable
        flutter-version: 3.24.5
        architecture: x64

    - run: flutter pub get
    - run: dart run build_runner build --delete-conflicting-outputs

    - name: Build no-codesign release
      run: flutter build ios --release --no-codesign
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.APP_NAME }}_ios
        path: build/ios/iphoneos/Runner.app
