name: Build

on:
  pull_request:
    branches:
      - main
      - develop
      
env:
  APP_NAME: BULL

jobs:
  ios:
    runs-on: macos-15
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: 16.4
        
    - uses: actions/checkout@v4

    - uses: dtolnay/rust-toolchain@stable

    - run: rustup target add aarch64-apple-ios

    - name: Install FVM
      run: |
        curl -fsSL https://fvm.app/install.sh | bash
        echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH

    - run: make fvm-check
    - run: make clean
    - run: make deps
    - run: make build-runner
    - run: make l10n

    - run: cp .env.template .env

    - name: Build no-codesign release
      run: fvm flutter build ios --release --no-codesign
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.APP_NAME }}_ios
        path: build/ios/iphoneos/Runner.app
